{% extends "main/base.html" %}

{% block title %}Администрирование - пользователи{% endblock %}

{% block head %}

    {{ parent() }}
    <link rel="stylesheet" href="/css/modal.css">

{% endblock %}

{% block content %}

    {% if notifications.msg.errors %}
        {% for msg in notifications.msg.errors %}
            <p class="notifi error">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    {% if notifications.msg.info %}
        {% for msg in notifications.msg.info %}
            <p class="notifi info">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    <div class="content_users" id="users_block">
        <section>
            <div class="head_btns">
                <img src="img/icons/add_to.png" class="addUser" alt="">
            </div>

            <div class="list">
                <div class="list-header">
                    <span>Марка</span>
                    <span>Модель</span>
                    <span>Гос.номер</span>
                    <span>Сумма аренды</span>
                    <span>Статус</span>
                </div>
                {% for car in allCars %}
                    <div class="list-item"
                         data-carId="{{ car.id }}"
                         data-carNumber="{{ car.number }}"
                         data-carBrandId="{{ car.brand_id }}"
                         data-carModelId="{{ car.model_id }}"
                         data-credit="{{ car.credit }}"
                         data-statusId="{{ car.status_id }}">

                        <span>{{ car.brand_name }}</span>
                        <span>{{ car.model_name }}</span>
                        <span>{{ car.number }}</span>
                        <span>{{ car.credit }}</span>
                        <span>{{ car.status }}</span>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <div id="addUser" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modalHeader">Добавить авто</h3>

            <form id="userForm" method="POST" class="modal_form">
                <input id="carId" name="carId" type="hidden"  value="">

                <div class="modal_form-input">
                    <label for="carNumb">Гос.номер:</label>
                    <input id="carNumb" name="numb" type="text">
                </div>

                <div class="modal_form-input">
                    <label for="psw">Сумма аренды:</label>
                    <input id="carTax" type="number" name="tax" min=0 step="0.01">
                </div>

                <div class="modal_form-input">
                    <label for="carStatus">Статус:</label>
                    <select id="carStatus" name="status" class="select">
                        <option value="" selected>Выберите статус</option>

                        {% for status in statuses %}

                            <option value="{{ status.id }}">{{ status.name }}</option>

                        {% endfor %}

                    </select>
                </div>

                <div class="modal_form-input">
                    <label for="carBrand">Марка:</label>
                    <select id="carBrand" name="brand" class="select">
                        <option value="0" selected disabled>Выберите марку</option>

                        {% for brand in carBrands %}

                            <option value="{{ brand.id }}">{{ brand.brand_name }}</option>

                        {% endfor %}

                    </select>
                </div>

                <div class="modal_form-input">
                    <label for="carModel">Модель:</label>
                    <select id="carModel" name="carModel" class="select"></select>
                </div>

                <div class="centerLink"><button type="submit" class="button_default">Добавить</button></div>
            </form>
        </div>
    </div>

    <script src="/js/carModals.js"></script>

{% endblock %}
