{% extends "main/base.html" %}

{% block title %}Администрирование - пользователи{% endblock %}

{% block head %}

    {{ parent() }}
    <link rel="stylesheet" href="/css/modal.css">

{% endblock %}

{% block content %}

    {% if notifications %}
        <p class="notifi info">{{ notifications.info }}</p>
    {% endif %}

    <div class="content_users" id="users_block">
        <aside class="categories">
            <img src="img/icons/add-folder.png" class="addFolder" alt="">
            <ul>
                <li class="category"><a href="/administration/users">all</a></li>

                {% for groupItem in groups %}
                    <li class="category"><a href="/administration/users/{{ groupItem.group_name }}">{{ groupItem.group_name }}</a></li>
                {% endfor %}

            </ul>
        </aside>

        <section>
            <div class="head_btns">
                <img src="img/icons/add-user.png" class="addUser" alt="">
            </div>

            <div class="users_list">
                <div class="users_list-header">
                    <span>логин</span>
                    <span>группа</span>
                    <span>email</span>
                </div>

                {% for groupItem in groups %}

                    <p class="users_list-category">{{ groupItem.group_name }}</p>


                    {% for usersItem in users %}
                        {% if groupItem.id == usersItem.group_id  %}

                            <div class="users_list-item"
                                 data-userId="{{ usersItem.id }}"
                                 data-userLogin="{{ usersItem.login }}"
                                 data-userGroup="{{ usersItem.group_id }}"
                                 data-userEmail="{{ usersItem.email }}">

                                <span>{{ usersItem.login }}</span>
                                <span>{{ groupItem.group_name }}</span>
                                <span>{{ usersItem.email }}</span>
                            </div>

                        {% else %}

                        {% endif %}

                    {% endfor %}

                {% endfor %}

            </div>
        </section>
    </div>

    <div id="addUser" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Добавить пользователя</h3>

            <form action="/create/user" method="POST" class="modal_form">
                <input type="hidden" name="id" id="timeId" value="">
                <div class="modal_form-input">
                    <label for="phoneField">Login:</label>
                    <input name="login" type="text">
                </div>
                <div class="modal_form-input">
                    <label for="nameField">Password:</label>
                    <input name="psw" type="password">
                </div>
                <div class="modal_form-input">
                    <label for="nameField">Email:</label>
                    <input name="email" type="text">
                </div>
                <div class="modal_form-input">
                    <select name="group" class="select">
                        {% for groupItem in groups %}

                            {% if groupItem.id == 1  %}

                                <option value="{{ groupItem.id }}" selected="">{{ groupItem.group_name }}</option>

                            {% else %}

                                <option value="{{ groupItem.id }}">{{ groupItem.group_name }}</option>

                            {% endif %}

                        {% endfor %}
                    </select>
                </div>

                <div class="centerLink"><button type="submit" class="button_default">Добавить</button></div>
            </form>
        </div>

    </div>


    <div id="addFolder" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Добавить группу</h3>

            <form action="/create/group" method="post" class="modal_form">
                <div class="modal_form-input">
                    <label for="nameField">Имя:</label>
                    <input id="nameField" name="groupName" type="text">
                </div>

                <div class="centerLink"><button type="submit" class="button_default">Добавить</button></div>
            </form>
        </div>

    </div>

    <script src="/js/modal.js"></script>


{% endblock %}
