{% extends "main/base.html" %}

{% block title %}Администрирование - пользователи{% endblock %}

{% block head %}

    {{ parent() }}
    <link rel="stylesheet" href="/css/modal.css">

{% endblock %}

{% block content %}

    {% if notifications.msg.errors %}
        {% for msg in notifications.msg.errors %}
            <p class="notifi error">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    {% if notifications.msg.info %}
        {% for msg in notifications.msg.info %}
            <p class="notifi info">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    <div class="content_users" id="users_block">
        <aside class="categories">
            <img src="img/icons/add-group.png" class="addFolder" alt="">
            <ul>
                <li class="category"><a href="/administration/users/all">all</a></li>

                {% for groupItem in groups %}
                    <li class="category"><a href="/administration/users/category/{{ groupItem.group_name }}">{{ groupItem.group_name }}</a></li>
                {% endfor %}

            </ul>
        </aside>

        <section>
            <div class="head_btns">
                <img src="img/icons/add-user.png" class="addUser" alt="">
            </div>

            <div class="list">
                <div class="list-header">
                    <span>логин</span>
                    <span>группа</span>
                    <span>email</span>
                </div>

                {% for groupItem in groups %}

                    <p class="list-category">{{ groupItem.group_name }}</p>


                        {% for usersItem in users %}
                            {% if groupItem.id == usersItem.group_id  %}

                                <div class="list-item"
                                     data-userId="{{ usersItem.id }}"
                                     data-userLogin="{{ usersItem.login }}"
                                     data-userGroup="{{ usersItem.group_id }}"
                                     data-userEmail="{{ usersItem.email }}">

                                    <span>{{ usersItem.login }}</span>
                                    <span>{{ groupItem.group_name }}</span>
                                    <span>{{ usersItem.email }}</span>
                                </div>

                                {% else %}

                            {% endif %}

                        {% endfor %}

                {% endfor %}

            </div>
        </section>
    </div>

    <div id="addUser" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modalHeader">Добавить пользователя</h3>

            <form id="userForm" method="POST" class="modal_form">
                <input type="hidden" name="id" id="userId" value="">
                <div class="modal_form-input">
                    <label for="inputLogin">Login:</label>
                    <input id="inputLogin" name="login" type="text">
                </div>
                <div class="modal_form-input">
                    <label for="psw">Password:</label>
                    <input name="psw" type="password" id="inputPsw" autocomplete="on">
                </div>
                <div class="modal_form-input">
                    <label for="inputEmail">Email:</label>
                    <input id="inputEmail" name="email" type="text">
                </div>
                <div class="modal_form-input">
                    <select name="group" id="groupList" class="select">
                        {% for groupItem in groups %}

                            {% if groupItem.id == 1  %}

                                <option value="{{ groupItem.id }}" selected="">{{ groupItem.group_name }}</option>

                            {% else %}

                            <option value="{{ groupItem.id }}">{{ groupItem.group_name }}</option>

                            {% endif %}

                        {% endfor %}
                    </select>
                </div>

                <div class="centerLink"><button type="submit" class="button_default">Добавить</button></div>
            </form>
        </div>

    </div>


    <div id="addFolder" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 >Добавить группу</h3>

            <form action="/administration/group/create" method="post" class="modal_form">
                <div class="modal_form-input">
                    <label for="nameField">Имя:</label>
                    <input id="nameField" name="groupName" type="text">
                </div>

                <div class="centerLink"><button type="submit" class="button_default">Добавить</button></div>
            </form>
        </div>

    </div>

    <script src="/js/Umodals.js"></script>


{% endblock %}
